<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Automator</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>Find</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>caseInsensitive</key>
		<integer>1</integer>
		<key>dotAll</key>
		<integer>1</integer>
		<key>extended</key>
		<integer>1</integer>
		<key>lazy</key>
		<integer>0</integer>
		<key>multiline</key>
		<integer>1</integer>
		<key>pattern</key>
		<string></string>
		<key>replace</key>
		<string></string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string>AMDAlert</string>
		<key>AMDInput</key>
		<string>AMDInput</string>
		<key>AMDNote</key>
		<string>AMDNote</string>
		<key>AMDOptions</key>
		<string>AMDOptions</string>
		<key>AMDRelatedActions</key>
		<array/>
		<key>AMDRequires</key>
		<string>AMDRequires</string>
		<key>AMDResult</key>
		<string>AMDResult</string>
		<key>AMDSummary</key>
		<string>AMDSummary</string>
	</dict>
	<key>AMIconName</key>
	<string>icon</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Replace With Regex</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>CFBundleDevelopmentRegion</key>
	<string>French</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Replace With Regex version 1.0, Copyright (c) 2006.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.codecorp.Automator.regexreplace</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>Replace With Regex 1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>AutomatorRegex</string>
</dict>
</plist>
