ZERO_LINK = YES
SECTORDER_FLAGS = 
OTHER_LDFLAGS = -seg1addr 0xb0000000
PRODUCT_NAME = libpcre
INSTALL_PATH = "@loader_path/../Frameworks/"
COPY_PHASE_STRIP = NO
OTHER_CFLAGS = 
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 2
GCC_NO_COMMON_BLOCKS = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
WARNING_CFLAGS = 
GCC_PREPROCESSOR_DEFINITIONS = SUPPORT_UTF8 POSIX_MALLOC_THRESHOLD=10
LIBRARY_STYLE = DYNAMIC
OTHER_LIBTOOL_FLAGS = 
OTHER_REZFLAGS = 
REZ_EXECUTABLE = YES
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
